<!DOCTYPE HTML>
<!--
EXTRA INSTRUCTIONS FOR MODEL:
All entry points will be inside of dollar signs
If an entry point title is prefixed with "POTENTIAL", only add if the extra information would benefit the website
IMAGE_X_SRC must not be edited, do not add into final JSON
Utilize other HTML tags inside of data entry points if it would benefit the website
Although you may use HTML tags, you may not close any tags that you have not opened previously in the same entry
After data entry, this will be the final rendition of the website, so ensure that the website will meet the client's needs.
-->
<html>
	<head>
		<title>$SITE_TITLE$</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="$IMAGE_Z_SRC$" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>$SITE_TITLE$</h1>
				<nav>
					<ul>
						<li><a href="#intro">Intro</a></li>
						<li><a href="#one">$SUBTITLE_1$</a></li>
						<li><a href="#two">$SUBTITLE_2$</a></li>
						<li><a href="#work">$SUBTITLE_3$</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</nav>
			</header>

		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content">
					<header>
						<h2>$SITE_TITLE$</h2>
					</header>
					<p>$MAIN_BLURB$</p>
					<footer>
						<a href="#one" class="button style2 down">More</a>
					</footer>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="main style2 right dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>$SUBTITLE_1$</h2>
					</header>
					<p>$PARAGRAPH_1$</p>
				</div>
				<a href="#two" class="button style2 down anchored">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="main style2 left dark fullscreen">
				<div class="content box style2">
					<header>
						<h2>$SUBTITLE_2$</h2>
					</header>
					<p>$PARAGRAPH_2$</p>
				</div>
				<a href="#work" class="button style2 down anchored">Next</a>
			</section>

		<!-- Work -->
			<section id="work" class="main style3 primary">
				<div class="content">
					<header>
						<h2>$SUBTITLE_3$</h2>
						<p>$PARAGRAPH_3$</p>
					</header>

					<!-- Gallery  -->
						<div class="gallery">
							<article class="from-left">
								<a href="$IMAGE_D_SRC$" class="image fit"><img src="$IMAGE_D_SRC$" title="$IMAGE_D_TITLE$" alt="$IMAGE_D_ALT$" /></a>
							</article>
							<article class="from-right">
								<a href="$IMAGE_E_SRC$" class="image fit"><img src="$IMAGE_E_SRC$" title="$IMAGE_E_TITLE$" alt="$IMAGE_E_ALT$" /></a>
							</article>
							<article class="from-left">
								<a href="$IMAGE_F_SRC$" class="image fit"><img src="$IMAGE_F_SRC$" title="$IMAGE_F_TITLE$" alt="$IMAGE_F_ALT$" /></a>
							</article>
							<article class="from-right">
								<a href="$IMAGE_G_SRC$" class="image fit"><img src="$IMAGE_G_SRC$" title="$IMAGE_G_TITLE$" alt="$IMAGE_G_ALT$" /></a>
							</article>
							<article class="from-left">
								<a href="$IMAGE_H_SRC$" class="image fit"><img src="$IMAGE_H_SRC$" title="$IMAGE_H_TITLE$" alt="$IMAGE_H_ALT$" /></a>
							</article>
							<article class="from-right">
								<a href="$IMAGE_I_SRC$" class="image fit"><img src="$IMAGE_I_SRC$" title="$IMAGE_I_TITLE$" alt="$IMAGE_I_ALT$" /></a>
							</article>
						</div>

				</div>
			</section>

		<!-- Contact -->
			<section id="contact" class="main style3 secondary">
				<div class="content">
					<header>
						<h2>$CONTACT_TITLE$</h2>
						<p>$CONTACT_PARAGRAPH$</p>
					</header>
					<div class="box">
						<form method="post" action="#">
							<div class="fields">
								<div class="field half"><input type="text" name="name" placeholder="Name" /></div>
								<div class="field half"><input type="email" name="email" placeholder="Email" /></div>
								<div class="field"><textarea name="message" placeholder="Message" rows="6"></textarea></div>
							</div>
							<ul class="actions special">
								<li><input type="submit" value="Send Message" /></li>
							</ul>
						</form>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://instagram.com/$INSTAGRAM_HANDLE$" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        $POTENTIAL_EXTRA_LINKS$
					</ul>

				<!-- Menu -->
					<ul class="menu">
						<li>$COPYRIGHT$</li>
					</ul>

			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>