<!DOCTYPE HTML>
<!--
EXTRA INSTRUCTIONS FOR MODEL:
All entry points will be inside of dollar signs
If an entry point title is prefixed with "POTENTIAL", only add if the extra information would benefit the website
IMAGE_X_SRC must not be edited, do not add into final JSON
Utilize other HTML tags inside of data entry points if it would benefit the website
Although you may use HTML tags, you may not close any tags that you have not opened previously in the same entry
After data entry, this will be the final rendition of the website, so ensure that the website will meet the client's needs.
-->
<html>
	<head>
		<title>$SITE_TITLE$</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
                            <img class="icon avatar" src="$IMAGE_Z_SRC$" />
						</div>
						<div class="content">
							<div class="inner">
								<h1>$MAIN_TITLE$</h1>
								<p>$MAIN_MOTTO$</p>
							</div>
						</div>
						<nav>
							<ul>
                                <!-- Highly recommended that these be short titles, 12 characters or less -->
								<li><a href="#section1">$SECTION_1_SHORT_TITLE$</a></li>
								<li><a href="#section2">$SECTION_2_SHORT_TITLE$</a></li>
								<li><a href="#section3">$SECTION_3_SHORT_TITLE$</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

							<article id="section1">
								<h2 class="major">$SECTION_1_TITLE$</h2>
								<span class="image main"><img src="$IMAGE_B_SRC$" alt="$IMAGE_B_ALT$" /></span>
								<p>$SECTION_1_PARAGRAPH$</p>
                                $POTENTIAL_SECTION_1_EXTRA_ELEMENTS$
							</article>

							<article id="section2">
								<h2 class="major">$SECTION_2_TITLE$</h2>
								<span class="image main"><img src="$IMAGE_C_SRC$" alt="$IMAGE_C_ALT$" /></span>
								<p>$SECTION_2_PARAGRAPH$</p>
                                $POTENTIAL_SECTION_2_EXTRA_ELEMENTS$
							</article>

							<article id="section3">
								<h2 class="major">$SECTION_3_TITLE$</h2>
								<span class="image main"><img src="$IMAGE_D_SRC$" alt="$IMAGE_D_ALT$" /></span>
								<p>$SECTION_3_PARAGRAPH$</p>
                                $POTENTIAL_SECTION_3_EXTRA_ELEMENTS$
							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact</h2>
								<form method="post" action="#">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="4"></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</form>
								<ul class="icons">
									<li><a href="https://instagram.com/$INSTAGRAM_HANDLE$" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
								</ul>
							</article>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">$COPYRIGHT$</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

            $POTENTIAL_EXTRA_BODY$

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
