<!DOCTYPE HTML>
<!--
EXTRA INSTRUCTIONS FOR MODEL:
All entry points will be inside of dollar signs
If an entry point title is prefixed with "POTENTIAL", only add if the extra information would benefit the website
If you decide not to include an entry point prefixed with "POTENTIAL", return an empty string ""
IMAGE_X_SRC must not be edited, do not add into final JSON
Utilize other HTML tags inside of data entry points if it would benefit the website
Although you may use HTML tags, you may not close any tags that you have not opened previously in the same entry
After data entry, this will be the final rendition of the website, so ensure that the website will meet the client's needs.
-->
<html>
	<head>
		<title>$SITE_TITLE$</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="$IMAGE_Z_SRC$" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<div id="header">
                <img class="logo icon" src="$IMAGE_Z_SRC$" />
				<h1>$MAIN_TITLE$</h1>
				<p>$PURPOSE$ <a href="https://instagram.com/$INSTAGRAM_HANDLE$">@$INSTAGRAM_HANDLE$</a>
				<br />
				$PURPOSE_2$</p>
			</div>

		<!-- Main -->
			<div id="main">

				<header class="major container medium">
					<h2>$MAIN_MOTTO$</h2>
					<p>$POTENTIAL_PARAGRAPH$</p>
				</header>

				<div class="box alt container">
					<section class="feature left">
						<a href="$IMAGE_B_SRC$" class="image icon solid fa-signal"><img src="$IMAGE_B_SRC$" alt="$IMAGE_B_ALT$" /></a>
						<div class="content">
							<h3>$SUBTITLE_1$</h3>
							<p>$DESCRIPTION_1$</p>
						</div>
					</section>
					<section class="feature right">
						<a href="$IMAGE_C_SRC$" class="image icon solid fa-code"><img src="$IMAGE_C_SRC$" alt="$IMAGE_C_ALT$" /></a>
						<div class="content">
							<h3>$SUBTITLE_2$</h3>
							<p>$DESCRIPTION_2$</p>
						</div>
					</section>
					<section class="feature left">
						<a href="$IMAGE_D_SRC$" class="image icon solid fa-mobile-alt"><img src="$IMAGE_D_SRC$" alt="$IMAGE_D_ALT" /></a>
						<div class="content">
							<h3>$SUBTITLE_3$</h3>
							<p>$DESCRIPTION_3$</p>
						</div>
					</section>
				</div>

				<footer class="major container medium">
					<h3>$DIV_TITLE$</h3>
					<p>$DIV_PARAGRAPH$</p>
					<ul class="actions special">
						<li><a href="#" class="button">$BUTTON$</a></li>
					</ul>
				</footer>

			</div>

		<!-- Footer -->
			<div id="footer">
				<div class="container medium">

					<header class="major last">
						<h2>$FEEDBACK_TITLE$</h2>
					</header>

					<p>$FEEDBACK_PARAGRAPH$</p>

					<form method="post" action="#">
						<div class="row">
							<div class="col-6 col-12-mobilep">
								<input type="text" name="name" placeholder="Name" />
							</div>
							<div class="col-6 col-12-mobilep">
								<input type="email" name="email" placeholder="Email" />
							</div>
							<div class="col-12">
								<textarea name="message" placeholder="Message" rows="6"></textarea>
							</div>
							<div class="col-12">
								<ul class="actions special">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
						</div>
					</form>

					<ul class="icons">
						<li><a href="https://instagram.com/$INSTAGRAM_HANDLE$" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                        $POTENTIAL_EXTRA_LINKS$
					</ul>

					<ul class="copyright">
						<li>$COPYRIGHT$</li>
					</ul>

				</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>